go 1.21.5

use (
	./server/check-harga-service
	./server/check-mutasi-service
	./server/check-saldo-service
	./server/input-harga-service
	./server/input-harga-storage
	./server/topup-service
	./server/topup-storage
)
